<!-- Footer Section Start --><footer>
	<!-- Footer Top Section Start -->
	<div class="footer-sec">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="footer-wedget-one">
						<h2>Qui sommes nous?</h2>
						<p>Lorem ipsum dolor sit amet, vel molestie nec imperdiet auctor sociosqu tellus. Nulla sed vestibulum in nulla etiam euismod, ac lectus ut.</p>
						<p>Lorem ipsum dolor sit amet, vel molestie nec imperdiet auctor sociosqu tellus.</p>
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google"></i></a></li>
							<li><a href="#"><i class="fa fa-skype"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="footer-wedget-two">
						<h2>La société</h2>
						<ul>
							<li><a href="">Règles</a></li>
							<li><a href="">Sécurités</a></li>
							<li><a href="">Assistance</a></li>
							<li><a href="">Devenez hôte</a></li>
							<li><a href="">Mentions légales</a></li>

						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="footer-wedget-two">
						<h2>Menus</h2>
						<ul>
							<li><a href="">Hotels</a></li>
							<li><a href="">Particulier</a></li>
							<li><a href="">Autres Services</a></li>
							<li><a href="">Actualités</a></li>
							<li><a href="">Contact</a></li>
							<li><a href="">Tourisme</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="footer-wedget-three">
						<h2>Contact</h2>
						<p>Lorem ipsum dolor sit amet, vel molestie nec imperdiet auctor sociosqu tellus.vel molestie nec imperdiet auctor sociosqu tellus.</p>
						<ul>
							<li>
								<i class="fa fa-location-arrow"></i>Moroni Bacha, Comores</li>
							<li>
								<i class="fa fa-envelope-o"></i>Info@domaine.com</li>
							<li>
								<i class="fa fa-phone"></i>+00 269 45 56 67</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Top Section End -->
	<!-- Footer Bottom Section Start -->
	<div class="footer-bottom-sec">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="copy-right">
						<p>&copy; 2019 Tous droits reservés.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer Bottom Section End -->
