<div class="pagehding-sec">
	<div class="images-overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="page-heading">
					<h1>{{ titre }}</h1>
					<ul>
						<li><a href="index.html">Accueil</a></li>
						<li><a href="#">{{ ariane }}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
