<!-- Connexion Section Start -->
<section class="contact-form-sec mt--10  pb-50 popin">
	<div class="container-fluid"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 connect-field">
				<div class="contact-field">
					<h3>
						<i class="fa fa-lock"></i>
						Connexion à votre espace personnel</h3>
					<hr>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="single-input-field">
							<h4>Email *
							</h4>
							<input type="email" name="_useraname" placeholder="votre identifiant" required="true"/>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="single-input-field">
							<h4>Mot de passse *</h4>
							<input type="password" name="_password" placeholder="votre mot de passe" required="true"/>
						</div>
					</div>

					<div class="col-md-4 col-sm-4 col-xs-12" style="margin-left: 12px;">
						<div class="single-input-fieldsbtn">
							<input type="submit" value="Connexion "/>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="single-input-fieldsbtn">
							<button class="button">Mot de passe oublié ?</button>
						</div>
					</div>
				</div>
				<button class="close btn-fermer">
					<i class="fa fa-times" title="Fermer"></i>
				</button>
			</div>
		</div>
	</div>
</div></section><!-- Connexion Section End -->
