<!-- Header Start -->
<header>
	<!-- Header Top Start -->
	<div class="hd-sec">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="hd-lft">
						<ul>
							<li>
								<i class="fa fa-comment-o"></i>
								Aide</li>
							<li>
								<i class="fa fa-phone"></i>06 44 98 31 56</li>
							<li>
								<i class="fa fa-comment"></i>Chat en direct</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="hd-rgt">
						<ul>
							<li><a href="#" class="connect"><i class="fa fa-user"></i>Connexion</a></li>
							<li><a href="#"><i class="fa fa-lock"></i>Inscription</a></li>
							<li><a href="#">Publiez votre annonce</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Header Top End -->
	<!-- Main Menu Start -->
	<div class="mnmenu-sec">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<div class="logo">
						<a href="{{path('accueil')}}"><img src="img/logo.png" alt=""/></a>
					</div>
				</div>
				<div class="col-md-10">
					<div class="menu">
						<nav id="main-menu" class="main-menu">
							<ul>
								<li class="active">
									<a href="{{path('accueil')}}">Accueil</a>
								</li>
								<li>
									<a href="annonces.html">Hotels</a>
								</li>
								<li>
									<a href="annonces.html">Particuliers
									</a>
								</li>
								<li>
									<a href="">Contact</a>
								</li>
								<li>
									<a href="">Beautés des îles<i class="fa fa-caret-down"></i>
									</a>
									<ul>
										<li><a href="#">Grde Comores</a></li>
										<li><a href="#">Anjouan</a></li>
										<li><a href="#">Moheli</a></li>
									</ul>
								</li>

							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Main Menu End -->
</header>
<!-- Header End -->
